#yellow-id{
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.photo-column
{

    background-color: sienna;
    height: 900px;
}

#photo-gallery
{
    margin-top: 20px;
    background-color: bisque;
    height: 900px;
}

.photo-sm 
{
	width: 100%;
    height: 380px;
    background-color: rgb(221,200,190);
    margin-top: 20px;
    overflow: hidden;
}

.photo-big
{
	width: 100%;
    height: 480px;
    background-color: rgb(158,118,99);
    margin-top: 20px;
    overflow: hidden;
}


@media (min-width: 575.98px) 
{
    #photo-gallery
{
    margin-top: 20px;
    background-color: bisque;
    height: 3600px;
}

   .video
    {
		margin-top: 20px;
		width: 100%;
		height: 300px;
	}
}

@media (min-width: 767.98px)
{   
    #photo-gallery
{
    margin-top: 20px;
    background-color: bisque;
    height: 1800px;
}

    .video
    {
		margin-top: 20px;
		width: 100%;
		height: 500px;
	}
}

@media (min-width: 991.98px) 
{
    #photo-gallery
{
    margin-top: 20px;
    background-color: bisque;
    height: 900px;
}


    .video 
    {
		margin-top: 20px;
		width: 100%;
		height: 800px;
	}
}

ff
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.flexed-col {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
